<!-- article -->
<div class="articles text-center" id="section-actualites">
<div class="container">
  <div class="row">
    <div class="col-xs-12 article-content">
      <h2>ACTUALITÉS</h2>
      <p>Suivez notre actualité, nos interventions, nos actions de terrain, nos analyses et réflexions.</p>
    </div>
      <% data.articles.each do |article| %>
        <div class="col-sm-6 col-md-4 card-article">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('<%= article.picture %>');background-repeat: round">
            <div class="card-description">
              <p class="card-category"><strong>| <%= article.category.upcase %> |</strong> </p>
              <h3><%= article.title.capitalize %></h3>
              <p class="article-description"><%= article.description.capitalize %></p>
              <% if article.link == "#" %>
                <a href="/#section-actualites" class="btn"> >> Prochainement</a>
              <% else %>
                <a href="<%= article.link %>" target="_blank" class="btn"> >> Télécharger l'article</a>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  </div>
</div>

