<% data.formations.each do |formation| %>
  <details>
    <summary>
      <div class="clk"><i class="fas fa-chevron-right"></i> <%= formation.title %></div>
      <div class="info-formation">
        <p class="duration-formation"><i class="far fa-clock"></i> <%= formation.duration %></p>
        <p class="place-formation"><i class="far fa-user"></i> <%= formation.place %></p>
      </div>
      <!-- <div class="rating__formation"><i class="far fa-star"></i>79% de satisfaction (25 avis)</div> -->
    </summary>
    <section>1.Description</section>
    <p><%= formation.introduction %></p>
    <section>2.Objectifs</section>
    <p><%= formation.goals %></p>
    <section>2.Public cible</section>
    <p><%= formation.targeted_people%></p>
    <section>3.Pré-requis</section>
    <p><%= formation.prerequisites%></p>
    <section>4.Mode de validation des acquis</section>
    <p><%= formation.validation%></p>
    <section>5.Moyens pédagogiques et techniques</section>
    <p><%= formation.technology%></p>
    <section>6.Mots clés</section>
    <p><%= formation.key_words%></p>
    <section>7.Plaquette de formation</section>
    <p><a href="<%= formation.link %>" target="_blank" class="plaquette"><i class="fa fa-download"></i> Lien de téléchargement de la plaquette</a></p>
  </details>
<% end %>
