<div class="team text-center" id="section-about">
  <div class="container test">
    <div class="content">
      <h2>NOTRE ÉQUIPE</h2>
      <p>Le conseil coopératif repose sur une <strong>équipe polyvalente</strong> de consultants qui ont en commun d'être associés et porteurs de l'aventure de la SCOP</p>
      <p>Nous sommes implantés en métropole lilloise et en Ile de France et <strong>nous intervenons sur tout le territoire</strong>.</p>
    </div>
    <div class="cards">
      <div class="row">
        <% data.teams.each do |team| %>
        <a href="<%= team.link %>">
          <div class="col-xs-12 col-sm-6 col-md-4 team-card">
            <img src="<%= team.picture %>" alt="<%= team.first_name.capitalize %> <%= team.last_name.upcase %>" class="avatar">
            <h3><%= team.first_name.capitalize %> <%= team.last_name.upcase %></h3>
            <p><%= team.description.capitalize %></p>
          </div>
        </a>
        <% end %>
      </div>
    </div>
  </div>
</div>




