---
title: COPAS - Dalila Bahmed
---
<%= partial "layouts/navbar2" %>
<div>
  <div id="cv">
    <div class="about-content">
      <ul class="list-inline">
        <li>
          <%= image_tag "https://res.cloudinary.com/copas/image/upload/v1588603514/Equipe/DalilaBahmed.png", class: "img-circle" %>
          <h2><%= data.teams[1].first_name %> <%= data.teams[1].last_name %></h2>
          <p><a href="mailto:dalila.bahmed@copas.coop"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<%= data.teams[1].email %></a></p>
          <p><i class="fa fa-phone"></i><%= data.teams[1].phone%> </p>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 cv-description">
          <p><strong>Diplômée de Science politique</strong> (DEA « Sociologie politique et politique comparée) de l’université de Paris Ouest Nanterre La Défense, Dalila BAHMED s’est forgée une première expérience dans le conseil en politiques publiques auprès d’une grande collectivité locale de la région parisienne (100 000 hab.). Elle a notamment contribué à la réalisation d’un diagnostic territorial relatif aux structures éducatives et à l’élaboration du Plan éducatif local de la commune. </p>
          <p>Spécialisée dans les <strong>politiques d’éducation</strong>, Dalila intervient aussi dans le champ de la <strong>politique de la ville et des politiques jeunesse</strong>.</p>
          <p>Anciennement attachée temporaire d’enseignement et de recherche à l’université Paris Ouest Nanterre La Défense, elle a enseigné pendant près de 8 ans la science politique et la sociologie dans les universités de Nanterre et d’Evry-Val-d’Essonne.</p>
          <p>Son intérêt pour la sphère publique et les processus de décision publique l’a conduit à intégrer le cabinet du Premier ministre (2014 -2015).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.cvcards.dalilabahmed} %>
  </div>
</div>
