---
title: COPAS - Gilles Rivet
---
<%= partial "layouts/navbar2" %>
<div>
  <div id="cv">
    <div class="about-content">
      <ul class="list-inline">
        <li>
          <%= image_tag "../images/team/GillesRivet.png", class: "img-circle" %>
          <h2><%= data.teams[3].first_name %> <%= data.teams[3].last_name %></h2>
          <p><a href="mailto:<%= data.teams[3].email %>"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<%= data.teams[3].email %></a></p>
          <p><i class="fa fa-phone"></i><%= data.teams[3].phone%> </p>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 cv-description">
          <p>Spécialiste de l’économie sociale, Gilles Rivet est <strong>consultant senior</strong> à COPAS depuis 1998. Après avoir été chargé de mission à Frères des hommes, dans le domaine de la solidarité internationale, il a développé ses activités dans les quartiers d’habitat social, au sein du Comité national de liaison des Régies de quartier (CNLRQ), tête de réseau de l’IAE, puis de la Fondation de France. </p>
          <p>À COPAS, il intervient dans les champs de la <strong>santé</strong> (diagnostics locaux santé publique, toxicomanie), du <strong>médico-social</strong> (personnes âgées, handicap), de l’<strong>insertion</strong> (personnes à la rue, accès au logement, IAE), de la <strong>protection de l’enfance</strong> (établissements, milieu ouvert), de l’<strong>action sociale territoriale</strong> (politique de la ville, démarches de territorialisation de l’action sociale). </p>
          <p>Ses interventions se réalisent sous diverses formes, que ce soit l’<strong>appui aux politiques sociales</strong>, nationale ou territoriale (accompagnement d'expérimentations ; aide à l’élaboration de schémas départementaux…), l’<strong>évaluation de ces politiques sociales</strong> (politique de la ville ; protection de l’enfance, toxicomanie, accès au logement, etc.), l’<strong>appui aux associations mandatées</strong> (projets associatifs, projets d’établissements…), la <strong>formation des professionnels de terrain</strong> (nombreuses formations auprès d’équipes et animation de Groupes d’analyse de la pratique…). </p>
          <p>Après avoir été maître de conférence associé à Paris 3 “Sorbonne Nouvelle” (responsable du M2 “Consultant/accompagnateur de projet par la recherche-action” de 2007 à 2009), Gilles Rivet est depuis 2010 maître de conférence associé à l’université Paris-Est Créteil-UPEC (méthodologie de la recherche – politiques sociales – ingénierie sociale).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.cvcards.gillesrivet} %>
  </div>
</div>
