---
title: COPAS - Marie Peretti-Ndiaye
---
<%= partial "layouts/navbar2" %>
<div>
  <div id="cv">
    <div class="about-content">
      <ul class="list-inline">
        <li>
          <%= image_tag "https://res.cloudinary.com/copas/image/upload/e_grayscale/c_scale,w_150/v1611177891/Equipe/photo-identite-marie-peretti-ndiaye-2015.jpg", class: "img-circle"%>
          <h2><%= data.teams[2].first_name %> <%= data.teams[2].last_name %></h2>
          <p><a href="mailto:<%= data.teams[2].email %>"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<%= data.teams[2].email %></a></p>
          <p><i class="fa fa-phone"></i><%= data.teams[2].phone%> </p>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 cv-description">
          <p>Docteure en sociologie (EHESS), diplômée en anthropologie et titulaire d’un BEATEP, Marie Peretti-Ndiaye est consultante sénior depuis 2020 au sein de COPAS.</p>
          <p>Elle intervient sur les questions de <strong>lutte contre les discriminations</strong> (sociales, territoriales, ethnoraciales et genrées), de <strong>promotion de l’égalité</strong>, de <strong>gestion d’équipe</strong>, d’<strong>éducation populaire</strong>, de <strong>développement social</strong>, de <strong>politique de la ville</strong> et de <strong>politiques jeunesses</strong>, d’insertion, d’emploi et de formation ainsi que de santé. </p>
          <p><strong>Ses interventions se réalisent sous diverses formes</strong> : recherches (recherches fondamentales, recherches-actions et recherches collaboratives) et études, appui aux politiques sociales, nationales ou territoriales (accompagnement d'expérimentations, …), diagnostics et évaluations, appui aux associations (projets associatifs, projets d’établissements…), formation des professionnels de terrain, accompagnement des équipes, interventions directes auprès de différents publics (structures d’éducation populaire, travail de rue...).</p>
          <p>Par ailleurs, Marie Peretti-Ndiaye est <strong>chercheure invitée au Centre de Recherches Éducation et Formation</strong> (CREF-EA1589) de l'Université Paris-Nanterre, membre du comité de rédaction de la revue <strong>Sociétés et Jeunesses en difficulté</strong> (SEJED) et codirectrice de la collection <strong>Singulières Migrations</strong> (Presses Universitaires de Vincennes).</p>
          <p>Elle a notamment publié Damnatio memoriae (Prix "Littérature générale", salon international du livre Insulaire d'Ouessant), éditions Petra, 2018 et Le racisme en Corse, éditions Albiana, 2014.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.cvcards.marieperettindiaye} %>
  </div>
</div>
