---
title: COPAS - Marianne Pladys
---
<%= partial "layouts/navbar2" %>
<div>
  <div id="cv">
    <div class="about-content">
      <ul class="list-inline">
        <li>
          <%= image_tag "https://res.cloudinary.com/copas/image/upload/v1643190999/Equipe/Marianne-Pladys.png", class: "img-circle" %>
          <h2><%= data.teams[4].first_name %> <%= data.teams[4].last_name %></h2>
          <p><a href="mailto:<%= data.teams[3].email %>"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<%= data.teams[4].email %></a></p>
          <p><i class="fa fa-phone"></i><%= data.teams[4].phone%> </p>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 cv-description">
          <p>Diplômée du Certificat d’Aptitude aux Fonctions de Direction des Établissements et Services sociaux et médico sociaux (CAFDES) / EHESP de Rennes & IRTS Hauts-de-France, d’un Master 2 en Management par Projets / IAE de Lille, d’un Master 1 en management qualité / ILIS-Université de Lille), Marianne PLADYS est consultante depuis 2021.</p>
          <p>Inspirée de ses expériences en fonction de direction et d’encadrement au sein de différentes organisations : directrice du centre ressources autisme Nord Pas-de-Calais, directrice qualité à l’AFEJI, d’établissement pour ECLA - association parentale dans le champ des TSA, d’un pôle de 6 ITEP à la Sauvegarde du Nord, après avoir été responsable du département des formations continues à l’IRTS HDF, mais aussi responsable du CAFDES, elle intervient dorénavant à COPAS comme consultante senior associée sur des champs diversifiés : <strong>accompagnement des directions d’établissements et services en difficulté dans leurs projets, leur gouvernance/dirigeance, audit organisationnel, évaluation externe, gestion documentaire</strong>, …</p>
          <p>Le fil conducteur de son parcours et ses intérêts priorisent toujours une préoccupation des droits et des intérêts de la personne concernée notamment dans les relations avec les professionnels et les directions : <strong>gestion et prévention des incidents, des maltraitances, promotion de la bientraitance, éthique, droits des personnes</strong>, tout en accompagnant les équipes dans la transformation de leurs pratiques avec bienveillance,  clairvoyance sur les enjeux et approche positive : <strong>projet d’association, d’établissement, management par projet, coaching d’équipe, coaching individuel</strong>.</p>
          <p>Aujourd’hui elle élargit son champ d’intervention, en mettant sa connaissance des enjeux politiques, associatifs et partenariaux au profit des collectivités et institutions publiques : réalisation de missions d’étude, de soutien aux organisations autour des enjeux de la diversité, …</p>
          <p>La pluralité de ses titres et diplômes en  formation continue (Licence de psychologie, DU TSA, DU éducation à la sexualité et prévention des violences sexuelles, et diplômée ACC en coaching) comme l’ensemble de son parcours atteste de sa curiosité et son engagement auprès des publics vulnérables, tout en agissant en conscience des enjeux des différents acteurs.</p>
          <p>Par ailleurs, Marianne est enseignante vacataire à l’Université de Lille Paris VII, aujourd’hui sur les politiques de médiation et droits des personnes.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="references">
      <%= partial "layouts/cv-card", :locals => { name: data.cvcards.mariannepladys} %>
  </div>
</div>
