---
title: COPAS - Saïd Bechrouri
---
<%= partial "layouts/navbar2" %>
<div>
  <div id="cv">
    <div class="about-content">
      <ul class="list-inline">
        <li>
          <%= image_tag "../images/team/SaidBechrouri.png", class: "img-circle" %>
          <h2><%= data.teams[0].first_name %> <%= data.teams[0].last_name %></h2>
          <p><a href="mailto:<%= data.teams[0].email %>"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<%= data.teams[0].email %></a></p>
          <p><i class="fa fa-phone"></i><%= data.teams[0].phone%> </p>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-offset-3 col-md-6 cv-description">
          <p>Diplômé de l’Ecole Nationale des Ponts et Chaussées/université de Marne la Vallée, Saïd Bechrouri est <strong>consultant senior/formateur</strong> depuis 2000, d’abord au sein de l’AFPA sur les questions d’organisation du travail, ensuite au sein du cabinet Amnyos entre 2001 et 2005 plutôt sur les questions d’emploi, enfin à COPAS depuis 2005 sur des champs diversifiés : <strong>politique de la ville, renouvellement urbain, appui aux politiques d’emploi territorialisées, concertation et participation des habitants, lutte contre les discriminations, gestion du fait religieux et laïcité, appui aux associations</strong> du champ de l’éducation populaire et du champ du sanitaire social dans la conception de leur projets, et leur évaluation.</p>

          <p>Dans sa pratique de conseil et de formation, au delà des approches interactives, ce sont les <strong>approches collaboratives</strong> et de <strong>constructions collectives</strong> qui sont recherchées selon différents modes d’intervention (écrits communs, valorisation des bonnes pratiques, séminaires de production…). Ces modes d’interventions impliquant à la fois les professionnels, les élus et les citoyens usagers des services publics.</p>

          <p>Par ailleurs, Saïd est enseignant vacataire à Paris XIII sur les politiques publiques de l'emploi en France Master II GRH et Communication des entreprises.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.cvcards.saidbechrouri} %>
  </div>
</div>

