---
title: COPAS - Samuel Thyrion
---
<%= partial "layouts/navbar2" %>
<div>
  <div id="cv">
    <div class="about-content">
      <ul class="list-inline">
        <li>
          <%= image_tag "https://res.cloudinary.com/copas/image/upload/c_scale,w_150/v1588603516/Equipe/SamuelThyrion.jpg", class: "img-circle" %>
          <h2><%= data.teams[5].first_name %> <%= data.teams[5].last_name %></h2>
          <p><a href="mailto:<%= data.teams[5].email %>"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<%= data.teams[5].email %></a></p>
          <p><i class="fa fa-phone"></i><%= data.teams[5].phone%> </p>
        </li>
      </ul>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 cv-description">
          <p>Formé à la sociologie et aux sciences politiques (IEP de Rennes et troisième cycle de sociologie), l’expérience professionnelle de Samuel Thyrion trouve sa cohérence dans un engagement continu dans la mise en oeuvre et/ou l’accompagnement des projets d’intérêt général dans les domaines du <strong>développement social, de l’éducation, de la jeunesse, de la formation, etc.</strong></p>

          <p>Précédemment directeur d’un organisme de formation, consultant en communication et concertation publique et chargé de mission dans un centre de ressources politique de la ville, il met son énergie au service du sens, de l’innovation et de l’efficacité des projets et des missions dont il a la responsabilité.</p>

          <p>Polyvalent dans les <strong>modalités d’intervention </strong>(évaluation, étude, diagnostic, formation-action, accompagnement, démarches de concertation ou de contribution collective, etc.) et polyvalent comme tous les consultants copas dans le champ des politiques sociales, Samuel Thyrion a développé une expertise plus approfondie dans les secteurs des <strong>politiques éducatives territoriales</strong> et du <strong>développement social</strong>.</p>

          <p>Il est par ailleurs enseignant vacataire à l’université (Lille I/III, IAE de Lille, Université Littoral Côte d'Opale) et mène et est engagé à titre personnel dans des démarches de participation.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="references">
    <%= partial "layouts/cv-card", :locals => { name: data.cvcards.samuelthyrion} %>
  </div>
</div>
