---
title: COPAS - Prévention des risques de discrimination et promotion de la diversité
---
<%= partial "layouts/navbar2" %>
<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>
        <%= data.formations[2].title %>
      </h1>
      <p>
        <%= data.formations[2].introduction %>
      </p>
      <h2>
        Programme de formation
      </h2>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Objectifs</div>
        </summary>
        <section>
          <ul>
            <% data.formations[2].goals.each do |f| %>
              <li><%= f %></li>
            <% end %>
          </ul>
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Public cible</div>
        </summary>
        <section>
          <%= data.formations[2].targeted_people %>
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Pré-requis</div>
        </summary>
        <section>
          <%= data.formations[2].prerequisites %>
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Mode de validation des acquis</div>
        </summary>
        <section>
          <%= data.formations[2].validation %>
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Moyens pédagogiques et techniques</div>
        </summary>
        <section>
          <%= data.formations[2].technology %>
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Mots clés</div>
        </summary>
        <section>
          <%= data.formations[2].key_words %>
        </section>
      </details>
      <details>
        <summary>
          <div class="clk"><i class="fas fa-chevron-right"></i> Télécharger la plaquette de formation</div>
        </summary>
        <section>
          <a href= <%= data.formations[2].leaflet %> target="_blank" class="plaquette"><i class="fa fa-download"></i> Lien de téléchargement de la plaquette</a>
        </section>
      </details>
    </div>
  </div>
</div>

<script>
$('.clk').click(function(){
    $(this).find('i').toggleClass('fa-chevron-right fa-chevron-down')
});
</script>




2
