---
title: COPAS - Nous contacter
---
<%= partial "layouts/navbar2" %>

<div class="ground">
  <div class="container">
    <div class="ground-content">
      <h1>merci !</h1>
      <p>Nous avons bien reçu votre message. Nous vous contactons très prochainement.</p>
      En attendant, vous pouvez prendre connaissance de nos différents terrains :
      <ul>
        <li><%= link_to 'Action sociale et médico-sociale', '/terrains/action-sociale-medico-sociale.html' %></li>
        <li><%= link_to 'Démarches participatives', '/terrains/demarches-participatives.html' %></li>
        <li><%= link_to 'Développement social et politique de la ville', '/terrains/dev-social-politique-ville.html' %></li>
        <li><%= link_to 'Economie sociale et solidaire', '/terrains/economie-sociale-solidaire.html' %></li>
        <li><%= link_to 'Lutte contre les discriminations et les inégalités injustes', '/terrains/lutte-discriminations-inegalites.html' %></li>
        <li><%= link_to 'Politique éducative', '/terrains/politique-educative.html' %></li>
      </ul>
    </div>
  </div>
</div>

